.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container .actions {
    display: flex;
    justify-content: space-around;
}

.actions button {
    width: 40%;
    height: 24px;
    background-color: #999;
    border-radius: 12px;
    outline: inherit;
    border: none;
    cursor: pointer;
}

.actions button:hover {
    background-color: #afafaf;
}

.actions button:disabled,
button[disabled]{
    cursor: not-allowed;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: #e0e0e0;
    position: absolute; 
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    left: 0;
    top: 50%;
    z-index: -100;
}

.progress {
    position: absolute; 
    background-color: #3498db;
    top: 50%;
    left: 0;
    width: 0%;
    height: 4px;
    z-index: -100;
    transform: translateY(-50%);
    transition: 400ms ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: border 400ms ease;
}

.circle.active {
    border-color: #3498db;
}